.home-heritage {
  margin-bottom: 30px;

  .home-heritage-picture img {
    display: block;
    width: 100%;
  }

  .home-heritage-generic {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-up('lg') {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 556px;
      padding-left: 10px;
    }

    .home-heritage-tile {
      margin: 20px 0;

      @include media-breakpoint-up('lg') {
        margin-bottom: 40px;
      }

      h1 {
        font-weight: bold;
        font-size: 18px;

        @include media-breakpoint-up('lg') {
          font-weight: bold;
          font-size: 44px;
          line-height: 33px;
          margin-bottom: 20px;
          text-align: right;
        }
      }
    }

    p {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;

      @include media-breakpoint-up('lg') {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 22px;
        margin-bottom: 30px;
        text-align: left;
      }

      & > p {
        @include media-breakpoint-up('lg') {
          margin-bottom: 40px;
        }
      }
    }
  }
}
