.footer-menu {
background: $brand-tertiary;

@include media-breakpoint-up(md) {
background-color: $brand-secondary;
}

h1 {
color: $white;
padding-top: 40px;
margin-bottom: 40px;
}

.footer-menu-list {
display: flex;
justify-content: center;

@include media-breakpoint-up(md) {
flex-direction: row-reverse;

ul {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-right: 170px;

@include media-breakpoint-up(md) {
margin-right: 200px;
}
}

.footer-menu-contact-direct {
li:first-of-type {
text-align: initial;
}
}
}

.line {
background-color: white;
width: 1px;
height: auto;
margin: 0 35px;
}

a {
color: white;
font-family: 'Roboto';
font-size: 16px;
font-weight: normal;
text-decoration: none;
line-height: 40px;

@include media-breakpoint-up(md) {
color: $brand-primary;
font-family: 'Playfair Display';
line-height: 30px;
}
}
}

.footer-terms-privacy {
a {
display: block;
color: white;
font-family: 'Roboto';
font-size: 14px;
font-weight: lighter;
font-style: italic;
line-height: 20px;
}

:first-child {
margin-top: 20px;
}

:nth-child(2) {
padding-bottom: 20px;
}
}
}
