<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >
  <title>Monochrome</title>
</head>

<body>
  <header class="header">
    <% include html/header/header.html %>
  </header>

  <main class="content">
    <% include html/home/home-catalog-preview.html %>

    <% include html/home/home-catalog-preview.html %>

    <% include html/home/home-catalog-preview.html %>

    <% include html/home/home-catalog-preview.html %>

    <% include html/home/home-heritage.html %>
  </main>

  <footer class="footer">
    <% include html/footer/footer.html %>
  </footer>

</body>

</html>
