// accents
$brand-primary: #2b2b2b;

//non-colors
$white: #ffffff;
$black-primary: #111111;
$black-secondary: #000000;

// grays
$gray-primary: #e8e8e8;
$gray-secondary: #cccccc;
$gray-footer: #707070;
