// @import '~bootstrap/scss/bootstrap';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';

@import '~bootstrap/scss/bootstrap-grid.scss';
@import '~bootstrap/scss/bootstrap-reboot.scss';
@import '~bootstrap/scss/bootstrap-utilities.scss';

// reset
@import './reset';

//fonts
@import './fonts';

// variables
@import './variabile';

// start project
@import './shared/index';
@import './catalog/index';
@import './home/index';

body {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  color: $brand-primary;
}
